{% extends 'layout.html' %}

{% block content %}
<h2>Home Page</h2>
<h3>Hello, {{ current_user.username }}</h3>

<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.post(cols=32, rows=4) }}
        {% for error in form.post.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>{{ form.submit }}</p>
</form>

{% for post in posts %}
<div><p><b>{{ post.timestamp }}</b>{{ post.author.username }} says: <b>{{ post.body }}</b></p></div>
{% endfor %}
{% endblock %}
